<h1>{{categoria.nome}}</h1>
{{#each postagens}}
<div class="card mt-2">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
        <hr>
        <small>Data de publicação: {{date}}</small>
    </div>
</div>
{{else}}
    <h4>Sem postagens recentes</h4>
{{/each}}
